h1{
    color: blue;
}
h2 {
    color: green;
}
h3{
    color:blueviolet;
}
h4 {
    color: aquamarine;
}
<<<<<<< HEAD
h5{
    color: green;
}
=======
>>>>>>> a5d6a10e048ac315fa6a93a73d3c18d7a0044b1c
