<<<<<<< HEAD

/* Abdallah */
h1 {
    color: red;
}

/* Ahmed Mohamed*/
h4 {
    color: aqua;
    =======

    /* Abdallah Mahmoud Wahbah*/
    h1 {
        color: orange;
        >>>>>>>2e8950e644749edc5236059a4eff45ae84222175
    }

/* Ibrahim Mohamed */
h5 {
    color: green;
}